@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
.kutas
{
    background-color: black;
    color: black;
    
}

.kutas button
{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #bc19c2;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
    align-items: center;
    justify-content: center;
}

.kutas button:hover
{
    scale: 1.1;
    color: #bc19c2;
    border: 2px solid #bc19c2;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #bc19c2;
    justify-content: center;
    align-items: center;
}